# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Env & secrets
.env

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Credentials
config.yaml

# database file
events.*